@import "../layouts/variables.scss";

// Nastya Klm

.articles-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.articles-section {
    display: flex;
    justify-content: space-around;
    background-color: $main-color;
    width: 70vw;
    margin-top: 5vh;
    margin-right: 10vw;
    border-radius: 26px 26px 0 0;
    cursor: pointer;

    &__article {
        color: white;
        letter-spacing: 0.5px;
        padding: 2vh 0;


        &_food {
            border-radius: 25px 0 0 0;
        }

        &_psycho {
            border-radius: 0 25px 0 0;
        }
    }

    &__link {
        text-decoration: none;
        width: 100%;
        text-align: center;
    }

    &__article:hover{
        
        background-color: white !important;
        color: $main-color !important;
        font-weight: 600 !important;
        padding: 2vh;
        margin: 0;
    }
}

.articles-topics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70vw;
    margin: 3vh 0 4vh 0;
    margin-right: 10vw;
    grid-gap: 3vw;

    &__img {
        max-width: 100%;
        border-radius: 3px;
        cursor: pointer;
    }

    &__title {
        letter-spacing: 0.5px;
        margin-top: 1.5vh;
        margin-bottom: 0;
        color: black;
    }


    &__text {
        letter-spacing: 0.7px;
        margin: 1.5vh 0 2.5vh 0;
    }

    &__link {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.7);
    }
}

.articles-topics__link:hover .articles-topics__title {
    text-decoration: underline;
}


.articles-copy {
        letter-spacing: 0.5px;
        color: rgba(0, 0, 0, 0.7);
        text-align: center;
        margin-bottom: 4vh;
        margin-left: 10%;
}

// TOPICS 

.topic-wrapper-body {
    background-color: white;
}

.topic-message {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topic {
    margin: 0 15vw 5vh 25vw;
    
    &__title {
        padding-top: 8vh;
        margin-top: 0;
        letter-spacing: 0.7px;
        text-align: center;
    }

    &__subtitle {
        letter-spacing: 0.8px;
        text-align: center;
        margin: 3vh 0;
    }

    &__text {
        color: rgba(0, 0, 0, 0.6);
        letter-spacing: 0.7px;
        line-height: 4vh;
        text-align: justify;
        margin: 2vh 0;

        &_bold {
            font-weight: 700;
        }

        &_message {
            text-align: center;
            padding: 8vh 3vw;
        }
    }

    &__border {
        background-color: $basic-color;
        border-radius: 15px;
    }

    &__img-left {
        border-radius: 5px;
        width: 25vw;
        float: left;
        margin-right: 2vw;
        margin-top: 2vh;
    }

    &__img-right {
        border-radius: 5px;
        width: 25vw;
        float: right;
        margin-left: 2vw;
        margin-top: 2vh;
    }

    &__back {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        letter-spacing: 0.8px;
    }

    &__img-back {
        width: 30%;
    }

    &__list {
        margin-left: 5vw;
    }

    &__top {
        margin: 3vh 0;
    }

    &__massege {
        width: 40vw;

    }
}

.articles-section__article,
.articles-topics__title,
.articles-topics__text,
.articles-copy,
.topic__title,
.topic__subtitle,
.topic__text,
.topic__back {
    font-family: $default-font;
}


@media screen and (min-width: $desktop) and (max-width: $default-desktop) {
    
    .articles-topics__title {
        @include font (600, calc(( 100vw - 720px ) / 40));
    }

    .articles-topics__text,
    .articles-section__article {
        @include font (300, calc(( 100vw - 160px ) / 80));
    }

    .articles-copy {
        @include font (300, calc(( 100vw - 320px ) / 80));
    }

    .topic__text {
        @include font (300, calc(( 100vw - 160px ) / 80));
    }

    .topic__title {
        @include font (600, calc(( 100vw - 2880px ) / -80));
    }

    .topic__subtitle {
        @include font (600, 14px);
    }

    .topic__back {
        @include font (600, calc(( 100vw - 0px ) / 80));
    }
    
}

@media screen and (min-width: ($default-desktop + 1px)) and (max-width: $large-desktop) {
    .articles-topics__title {
        @include font (600, calc(( 100vw + 714.5px ) / 119.75));
    }

    .articles-topics__text,
    .articles-section__article {
        @include font (300, calc(( 100vw + 475px ) / 119.75));
    }

    .articles-copy {
        @include font (300, calc(( 100vw + 235.5px ) / 119.75));
    }

    .topic__text {
        @include font (300, calc(( 100vw + 714.5px ) / 119.75));
    }

    .topic__title {
        @include font (600, calc(( 100vw - 4px ) / 79.8));
    }

    .topic__subtitle {
        @include font (600, calc(( 100vw + 1912px ) / 239.5));
    }

    .topic__back {
        @include font (600, calc(( 100vw + 714.5px ) / 119.75));
    }

    .articles-section,
    .articles-topics {
        width: calc(( 100vw + 8751.3px ) / 10.1);
        margin-right: calc(( 100vw - 2466.6px ) / -7);
    }

    .topic {
        width: calc(( 100vw - 54.7px ) / 1.6);
        margin-left: calc(( 100vw - 3830.6px ) / -6.6);
        margin-right: calc(( 100vw - 1920px ) / -2.2);
    }
}

@media screen and (min-width: ($large-desktop + 1px)) {
    .articles-topics__title {
        @include font (600, calc(( 100vw - 138.4px ) / 81.2)) // готово
    }

    .articles-topics__text,
    .articles-section__article {
        @include font (300, calc(( 100vw - 161.5px ) / 88));
    }

    .articles-copy {
        @include font (300, calc(( 100vw - 189px ) / 96));
        margin-left: calc(( 100vw - 1270px ) / 4.5);
    }

    .topic__text {
        @include font (300, calc(( 100vw - 138px ) / 81))
    }

    .topic__title {
        @include font (600, calc(( 100vw - 4px ) / 79.8));
    }

    .topic__subtitle {
        @include font (600, calc(( 100vw - 381.5px ) / 96));
    }

    .topic__back {
        @include font (600, calc(( 100vw - 138.4px ) / 81));
    }

    .articles-section,
    .articles-topics { 
        width: calc(( 100vw - 246px ) / 1.58);
        margin-right: calc(( 100vw - 5000px ) / -39);
    }

    .topic {
        width: calc(( 100vw - 54.7px ) / 1.6); 
        margin-left: calc(( 100vw + 102.5px ) / 7);
    }

    .articles-topics__img {
        width: calc(( 100vw - 424px ) / 4.7);
    }
    
}

// Nastya Klm