.button {
  margin-top: 40px;
  text-align: center;
}

.button a {
  background-color: aqua;
  padding: 30px 50px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

.customization__pop-up {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(63, 61, 61);
  z-index: 2;
}

.customization__pop-up.active {
  display: block;
}

.customization__pop-up_container {
  display: flex;
  width: 100%;
  height: 100%;
}

.customization__pop-up_body {
  margin: auto;
  width: 500px;
  background-color: rgb(247, 245, 245);
  border-radius: 10px;
  text-align: center;
  padding: 80px 15px 110px 15px;
  position: relative;
}

.customization__pop-up_body input {
  display: block;
  margin: 25px auto 0px auto;
  width: 330px;
  padding: 7px 17px;
  background-color: rgba(228, 238, 238, 1);
  border-radius: 15px;
  border-color: rgba(8, 155, 171, 1);
  border-width: 3px;
  //   color: rgba(247, 199, 142, 1);
}

.customization__pop-up_body input:focus {
  outline: none;
}

.customization__pop-up_body button {
  cursor: pointer;
  display: block;
  width: 330px;
  margin: 60px auto 0px auto;
  padding: 20px 0px;
  border: none;
  color: white;
  border-radius: 10px;
  background-color: rgba(247, 199, 142, 1);
}

.customization__pop-up_close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 21px;
  cursor: pointer;
}

.customization__title {
  color: rgba(255, 124, 2, 1);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 15px;
}

.customization__title_description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.customization__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}
