@import "../layouts/variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.font-black{
    color: $text-color;
}
.font-orange{
    color: $figure-color;
}
.font-blue {
    color: $main-color;
}

.profile {
    display: flex;
    justify-content: flex-end;

    height: 100vh;
}

.profile-RSK {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    background-color: white;
    border-radius: 80px 0 0 80px;
}

.profile-RSK__title {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 13.48vh;
    border-radius: 35px;
    margin: 0;

    text-align: center;

    background-color: $main-color;
    color: white;
}

.profile-RSK__recommendations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 25.78vh;

    background-color: $basic-color;
    border-radius: 25px;
}
.profile-RSK__kkal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.profile-RSK__macro{
    display: flex;
    justify-content: space-around;

    div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
.profile-RSK__form{
    width: 100%;
}
.profile-RSK__form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    height: 36.82vh;
    width: 100%;
}
.profile-RSK__form-element {
    display: flex;

    margin-right: 18px;

    color: $text-color;
}


@media screen and (min-width: $desktop) and (max-width: $default-desktop) {
    .profile-RSK {
        width: 43.54vw;
        padding: 3.16vw;
    }

    .profile-RSK__title {
        line-height: 30px;

        @include font (400, 23px)
    }
    .profile-RSK__recommendations{
        padding: 3.16vh;
    }
    .profile-RSK__kkal {
        line-height: 22px;
        @include font (500, 17px);
    }
    .profile-RSK__macroelement {
        line-height: 25px;

        @include font (700, 17px)
    }
    .profile-RSK__macroelement-amount {
        line-height: 25px;

        @include figure (700, 17px)
    }

    .profile-welcome {
        width: 34.72vw;
        margin-right: 5.34vw;
    }
    .profile-RSK__weight {
        @include font (400, 17px);

        span {
            @include figure (400, 17px);
        }
    }
    .profile-RSK__form-attribute {
        @include font (300, 17px);
    }
}

@media screen and (min-width: ($default-desktop + 1px)) and (max-width: $large-desktop) {
    .profile-RSK {
        width: 627px;
        padding: 45px;
    }

    .profile-RSK__title {
        line-height: 30px;

        @include font (400, 23px)
    }
    .profile-RSK__recommendations{
        padding: 30px;
    }

    .profile-welcome {
        width: 500px;
        margin-right: 77px;
    }
    .profile-RSK__kkal {
        line-height: 35px;
        @include font (500, 23px);
    }
    .profile-RSK__macroelement {
        line-height: 35px;

        @include font (700, 20px);
    }
    .profile-RSK__macroelement-amount {
        line-height: 35px;

        @include figure (700, 20px);
    }
    .profile-RSK__weight {
        @include font (400, 20px);
        span {
            @include figure (400, 20px);
        }
    }
    .profile-RSK__form-attribute {
        @include font (300, 20px);
    }
}

@media screen and (min-width: ($large-desktop + 1px)) {
    .profile-RSK {
        width: 32.65vw;
        padding: 2.34vw;
    }

    .profile-welcome {
        width: 26.04vw;
        margin-right: 4.01vw;
    }

    .profile-RSK__title {
        @include font (400, calc((100vw + 6360px)/360))
    }
    .profile-RSK__recommendations{
        padding: 2.24vh;
    }
}

// wrapper
.wrapper {
    margin: auto;
    background-color: $basic-color;
}

@media screen and (max-width: ($desktop - 1px)) {
    .wrapper {
        display: none;
    }
}

@media screen and (min-width: $desktop) and (max-width: $large-desktop) {
    .wrapper {
        max-width: 1440px;
    }
}

@media screen and (min-width: ($large-desktop + 1px)) {
    .wrapper {
        width: 75vw;
    }

}

// wrapper