@import "../layouts/variables.scss";
@import '../layouts/fonts.scss';
// Inna

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $basic-color;
}

button {
    cursor: pointer;
}

.font-black {
    color: $text-color;
}

.font-orange {
    color: $figure-color;
}

.font-blue {
    color: $main-color;
}

.profile {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;

    .profile-RSK {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        border-radius: 80px 0px 0px 80px;
        padding: 4.59vh 3.12vw 4vh 3.12vw;
        height: 100vh;

        background-color: white;
    }
}

.profile-RSK__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 13.48%;
    margin: 0;

    background-color: $main-color;
    color: white;
    border-radius: 35px;
    line-height: 140%;

    letter-spacing: 0.03em;
}

.profile-RSK__recommendations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 6% ;
    width: 100%;
    height: 25.78%;

    background-color: $basic-color;
    border-radius: 25px;
}

.profile-RSK__kkal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.profile-RSK__macro {
    align-self: center;
    display: flex;
    justify-content: space-between;

    width: 65.55%;

    line-height: 150%;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

.profile-RSK__weight {
    margin-top: 2%;

    span {
        font-weight: 700;
    }
}

.profile-RSK__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 50%;
}

.profile-RSK__form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 80%;
}

.profile-RSK__form-element {
    display: flex;
    align-items: center;
}

.profile-RSK__form-attribute {
    padding-right: 3%;
}

.profile-RSK__form-input {
    width: 60%;
    height: 4.29vh;
    padding-left: 8px;

    background-color: $basic-color;
    border: 1px solid $main-color;
    border-radius: 15px;

    outline: none;
    cursor: pointer;
}

.profile-RSK__form-button {
    align-self: center;

    @include button(41%, 12%);
}

.profile-RSK__form-button:hover {
    transition-duration: 1s;
    background-color: #f7a337;
}

.profile-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100vh;
    padding-bottom: 4vh;
}

.profile-welcome__wripper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 52vh;
    width: 100%;
    margin-top: 21.39vh;
}

.profile-welcome__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    width: 100%;
    height: 42.87vh;
    padding: 9.34% 9%;

    background-color: white;
    border-radius: 35px;

    img {
        width: 32%;
        left: 34.6%;
        top: -20.22%;
        position: absolute;

        border-radius: 50%;

    }
}

.profile-welcome__form-button {
    align-self: center;
    justify-self: flex-end;
    position: absolute;
    bottom: 4vh;

    @include button(36%, 5.37vh);
}

.profile-welcome__form-button:hover {
    transition-duration: 1s;
    background-color: #f7a337;
}

.profile-welcome__form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 11.46vh;
    margin-top: 3.23vh;
}

.profile-welcome__form-input {
    height: 4.29vh;
    padding-left: 8px;

    background-color: $basic-color;
    border: 1px solid $main-color;
    border-radius: 15px;

    outline: none;
    cursor: pointer;
}

.profile-welcome__form-greet{
    margin-top: 6.52vh;
}

.profile-welcome__button-reg{
    @include button(44%, 5.37vh);

    background-color: $main-color;
    color: white;
}

.profile-welcome__button-reg:hover{
    transition-duration: 1s;
    background-color: #09b4c7;
}


@media screen and (min-width: $desktop) and (max-width: $default-desktop) {
    .profile-RSK {
        width: 43.54vw;
    }

    .profile-RSK__title {

        @include font (400, 23px)
    }
    .profile-RSK__recommendations{
        padding: 4%
    }

    .profile-RSK__kkal {
        @include font (500, calc((100vw - 977px) / 18.5))
    }

    .profile-RSK__macro {
        @include font (700, calc((100vw - 373px) / 53))
    }

    .profile-RSK__weight {
        @include font (400, calc((100vw + 1760px) / 160));
    }

    .profile-RSK__form-attribute,
    .profile-paternity {
        @include font (300, calc((100vw + 1760px) / 160))
    }

    .profile-RSK__form-input,
    .profile-welcome__form-input {
        @include font (300, calc((100vw + 1440px) / 160));
    }

    .profile-RSK__form-button,
    .profile-welcome__form-button,
    .profile-welcome__button-reg {
        @include font (600, calc((100vw + 1760px) / 160));
    }

    .profile-welcome {
        width: 34.72vw;
        margin-right: 5.35vw;
    }
    .profile-welcome__form img {
        top: -22.2%;
    }

    .profile-welcome__form-greet{
        @include font (600, calc((100vw + 2720px) / 160));
    }
}

@media screen and (min-width: ($default-desktop + 1px)) and (max-width: $large-desktop) {
    .profile-RSK {
        width: 627px;
    }

    .profile-RSK__title {

        @include font (400, 23px)
    }

    .profile-RSK__kkal {
        @include font (500, 25px)
    }

    .profile-RSK__macro {
        @include font (700, 20px)
    }

    .profile-RSK__weight {
        @include font (400, 20px)
    }

    .profile-RSK__form-attribute,
    .profile-paternity {
        @include font (300, 20px)
    }

    .profile-RSK__form-input,
    .profile-welcome__form-input {
        @include font (300, 18px);
    }

    .profile-RSK__form-button,
    .profile-welcome__form-button,
    .profile-welcome__button-reg {
        @include font (600, 20px);
    }

    .profile-welcome {
        width: 500px;
        margin-right: 77px;
    }
    .profile-welcome__form-greet{
        @include font (600, 26px);
    }
}

@media screen and (min-width: ($large-desktop + 1px)) {
    .profile-RSK {
        width: 32.66vw;
    }

    .profile-RSK__title {
        @include font (400, calc((100vw + 45px)/85))
    }

    .profile-RSK__kkal {
        @include font (500, calc((100vw + 216px) / 85))
    }

    .profile-RSK__macro {
        @include font (700, calc((100vw - 210px) / 85))
    }

    .profile-RSK__weight {
        @include font (400, calc((100vw - 416px) / 75))
    }

    .profile-RSK__form-attribute,
    .profile-paternity {
        @include font (300, calc((100vw - 40px) / 94))
    }

    .profile-RSK__form-input,
    .profile-welcome__form-input {
        @include font (300, calc((100vw + 70px) / 110));
    }

    .profile-RSK__form-button,
    .profile-welcome__form-button,
    .profile-welcome__button-reg {
        @include font (600, calc((100vw - 211px) / 85));
    }

    .profile-welcome {
        width: 26vw;
        margin-right: 4vw;
    }
    .profile-welcome__form img{
        top: -17.22%;
    }
    .profile-welcome__form-greet{
        @include font (600, calc((100vw - 290px) / 62));
    }
}

.font-black {
    color: $text-color;
}

.font-orange {
    color: $figure-color;
}

.font-blue {
    color: $main-color;
}

.font-figure {
    font-family: $figure-font;
}

.wrapper {
    margin: auto;
    height: auto;
    background-color: $basic-color;
}

@media screen and (max-width: ($desktop - 1px)) {
    .wrapper {
        display: none;
    }
}

@media screen and (min-width: $desktop) and (max-width: $large-desktop) {
    .wrapper {
        max-width: 1440px;
    }
}

@media screen and (min-width: ($large-desktop + 1px)) {
    .wrapper {
        width: 75vw;
    }

}
// Inna
// wrapper