* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.font-black {
  color: rgba(0, 0, 0, 0.7);
}

.font-orange {
  color: #FF7C02;
}

.font-blue {
  color: #089BAB;
}

.profile {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
}

.profile-RSK {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: white;
  border-radius: 80px 0 0 80px;
}

.profile-RSK__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 13.48vh;
  border-radius: 35px;
  margin: 0;
  text-align: center;
  background-color: #089BAB;
  color: white;
}

.profile-RSK__recommendations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 25.78vh;
  background-color: #E4EEEE;
  border-radius: 25px;
}

.profile-RSK__kkal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profile-RSK__macro {
  display: flex;
  justify-content: space-around;
}
.profile-RSK__macro div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profile-RSK__form {
  width: 100%;
}

.profile-RSK__form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 36.82vh;
  width: 100%;
}

.profile-RSK__form-element {
  display: flex;
  margin-right: 18px;
  color: rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .profile-RSK {
    width: 43.54vw;
    padding: 3.16vw;
  }
  .profile-RSK__title {
    line-height: 30px;
    font-weight: 400;
    font-size: 23px;
    font-family: "Montserrat", sans-serif;
  }
  .profile-RSK__recommendations {
    padding: 3.16vh;
  }
  .profile-RSK__kkal {
    line-height: 22px;
    font-weight: 500;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
  }
  .profile-RSK__macroelement {
    line-height: 25px;
    font-weight: 700;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
  }
  .profile-RSK__macroelement-amount {
    line-height: 25px;
    font-weight: 700;
    font-size: 17px;
    font-family: "Inter", sans-serif;
  }
  .profile-welcome {
    width: 34.72vw;
    margin-right: 5.34vw;
  }
  .profile-RSK__weight {
    font-weight: 400;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
  }
  .profile-RSK__weight span {
    font-weight: 400;
    font-size: 17px;
    font-family: "Inter", sans-serif;
  }
  .profile-RSK__form-attribute {
    font-weight: 300;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  .profile-RSK {
    width: 627px;
    padding: 45px;
  }
  .profile-RSK__title {
    line-height: 30px;
    font-weight: 400;
    font-size: 23px;
    font-family: "Montserrat", sans-serif;
  }
  .profile-RSK__recommendations {
    padding: 30px;
  }
  .profile-welcome {
    width: 500px;
    margin-right: 77px;
  }
  .profile-RSK__kkal {
    line-height: 35px;
    font-weight: 500;
    font-size: 23px;
    font-family: "Montserrat", sans-serif;
  }
  .profile-RSK__macroelement {
    line-height: 35px;
    font-weight: 700;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
  }
  .profile-RSK__macroelement-amount {
    line-height: 35px;
    font-weight: 700;
    font-size: 20px;
    font-family: "Inter", sans-serif;
  }
  .profile-RSK__weight {
    font-weight: 400;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
  }
  .profile-RSK__weight span {
    font-weight: 400;
    font-size: 20px;
    font-family: "Inter", sans-serif;
  }
  .profile-RSK__form-attribute {
    font-weight: 300;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
  }
}
@media screen and (min-width: 1921px) {
  .profile-RSK {
    width: 32.65vw;
    padding: 2.34vw;
  }
  .profile-welcome {
    width: 26.04vw;
    margin-right: 4.01vw;
  }
  .profile-RSK__title {
    font-weight: 400;
    font-size: calc((100vw + 6360px) / 360);
    font-family: "Montserrat", sans-serif;
  }
  .profile-RSK__recommendations {
    padding: 2.24vh;
  }
}
.wrapper {
  margin: auto;
  background-color: #E4EEEE;
}

@media screen and (max-width: 1279px) {
  .wrapper {
    display: none;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1920px) {
  .wrapper {
    max-width: 1440px;
  }
}
@media screen and (min-width: 1921px) {
  .wrapper {
    width: 75vw;
  }
}/*# sourceMappingURL=index.css.map */