@import "../layouts/variables.scss";
@import '../layouts/fonts.scss';
// Inna

body {
    background-color: $basic-color;
}

button {
    cursor: pointer;
}

.font-black {
    color: $text-color;
}

.font-orange {
    color: $figure-color;
}

.font-blue {
    color: $main-color;
}

.profile {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;

    .profile-RSK {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        border-radius: 80px 0px 0px 80px;
        padding: 4.59vh 3.12vw 4vh 3.12vw;
        height: 100vh;

        background-color: white;
    }
}

.profile-RSK__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 13.48%;
    margin: 0;

    background-color: $main-color;
    color: white;
    border-radius: 35px;
    line-height: 140%;

    letter-spacing: 0.03em;
}

.profile-RSK__recommendations {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%;
    height: 25.78%;

    background-color: $basic-color;
    border-radius: 25px;
}

.profile-RSK__kkal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.profile-RSK__macro {
    align-self: center;
    display: flex;
    justify-content: space-between;

    width: 65.55%;

    line-height: 150%;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

.profile-RSK__weight {
    margin: 2% 0 0 5%;

    span {
        font-weight: 700;
    }
}

.profile-RSK__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 50%;
}

.profile-RSK__form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 80%;
}

.profile-RSK__form-element {
    display: flex;
    align-items: center;
}

.profile-RSK__form-attribute {
    padding-right: 3%;
}

.profile-RSK__form-input {
    width: 60%;
    height: 4.29vh;
    min-height: 35px;
    max-height: 90px;
    padding-left: 8px;

    background-color: $basic-color;
    border: 1px solid $main-color;
    border-radius: 15px;

    outline: none;
    cursor: pointer;
}

.profile-RSK__form-button {
    align-self: center;
    cursor: pointer;
    @include button(41%, 12%);
}

.profile-RSK__form-button:hover {
    transition-duration: 1s;
    background-color: #f7a337;
}

.profile-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100vh;
    padding-bottom: 4vh;
}

.profile-welcome__wripper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 52vh;
    width: 100%;
    margin-top: 21.39vh;
}

.profile-welcome__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    width: 90%;
    height: 42.87vh;
    padding: 9.34% 9%;

    background-color: white;
    border-radius: 35px;

    img {
        margin-top: -30%;

        width: 36%;

        border-radius: 50%;
    }
}

.profile-welcome__form-button {
    align-self: center;
    margin-top: 5%;

    @include button(36%, 5.37vh);
}

.profile-welcome__form-button:hover {
    transition-duration: 1s;
    background-color: #f7a337;
}

.profile-welcome__form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 10.46vh;
    min-height: 80px;
    margin-top: 4.23vh;
}

.profile-welcome__form-input {
    height: 4.29vh;
    min-height: 35px;
    max-height: 90px;
    padding-left: 8px;

    background-color: $basic-color;
    border: 1px solid $main-color;
    border-radius: 15px;

    outline: none;
    cursor: pointer;
}

.profile-welcome__form-greet{
    margin-top: 5%
}


.profile-welcome__button-reg {
    @include button(44%, 5.37vh);

    background-color: $main-color;
    color: white;
}

.profile-welcome__button-reg:hover {
    transition-duration: 1s;
    background-color: #148794;
}

.profile-notification {
    position: fixed;

    width: 100%;
    min-height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;

    z-index: 11;
    top: 0px;
}

.profile-notification__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 500px;
    max-width: 738px;
    width: 51.25vw;
    max-height: 268px;
    height: 26.17vh;
    padding: 10px;
    margin: 9.76vh auto 0px auto;
    border: solid 7px $button-color;

    background-color: white;
    border-radius: 35px;
    box-shadow: 0px 0px 10px #000;

    img {
        width: 8.8%;
        margin-bottom: 1.19%;
    }

    div {
        text-align: center;
    }
}

.profile-notification__text {
    line-height: 180%;

    a {
        color: $main-color;
        text-decoration: none;
        font-weight: 600;
    }
}

.profile-user__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    height: 29vh;

    background-color: white;
    border-radius: 35px;
}
.profile-user__kkal{
    width: 100%;
    height: 34vh;

    background-color: white;
    border-radius: 35px;
}

.profile-user__water {
    width: 100%;
    height: 8.7vh;
    margin-top: 4.3vh;

    background-color: white;
    border-radius: 35px;
}

.profile-user__date{
    width: 100%;
    height: 1.95vh;
}

@media screen and (min-width: $desktop) and (max-width: $default-desktop) {
    .profile-RSK {
        width: 43.54vw;
    }

    .profile-RSK__title {
        @include font (400, 23px)
    }

    .profile-RSK__kkal {
        @include font (500, calc((100vw - 773px) / 27))
    }

    .profile-RSK__macro {
        @include font (700, calc((100vw - 373px) / 53))
    }

    .profile-RSK__weight {
        @include font (400, calc((100vw - 373px) / 53));
    }

    .profile-RSK__form-attribute,
    .profile-paternity {
        @include font (300, calc((100vw + 1760px) / 160))
    }

    .profile-RSK__form-input,
    .profile-welcome__form-input {
        @include font (300, calc((100vw + 1440px) / 160));
    }

    .profile-RSK__form-button,
    .profile-welcome__form-button,
    .profile-welcome__button-reg {
        @include font (600, calc((100vw + 1760px) / 160));
    }

    .profile-welcome {
        width: 34.72vw;
        margin-right: 5.35vw;
    }

    .profile-welcome__form-greet {
        @include font (600, calc((100vw + 2720px) / 160));
    }
    .profile-welcome__form-inputs {
        margin-top: 3.23vh;
    }

    .profile-notification__text {
        @include font (500, 18px);
    }
}

@media screen and (min-width: ($default-desktop + 1px)) and (max-width: $large-desktop) {
    .profile-RSK {
        width: 627px;
    }

    .profile-welcome img {
        top: -17.2%;
    }

    .profile-RSK__title {

        @include font (400, 23px)
    }

    .profile-RSK__kkal {
        @include font (500, 25px)
    }

    .profile-RSK__macro {
        @include font (700, 20px)
    }

    .profile-RSK__weight {
        @include font (400, 20px)
    }

    .profile-RSK__form-attribute,
    .profile-paternity {
        @include font (300, 20px)
    }

    .profile-RSK__form-input,
    .profile-welcome__form-input {
        @include font (300, 18px);
    }

    .profile-RSK__form-button,
    .profile-welcome__form-button,
    .profile-welcome__button-reg {
        @include font (600, 20px);
    }

    .profile-welcome {
        width: 500px;
        margin-right: 77px;
    }
    .profile-welcome__form img {
        top: -22%
    }

    .profile-welcome__form-greet {
        @include font (600, 26px);
    }

    .profile-notification__text {
        @include font (500, 25px);
    }
}

@media screen and (min-width: ($large-desktop + 1px)) {
    .profile-RSK {
        width: 32.66vw;
    }

    .profile-welcome img {
        top: -22.2%;
    }

    .profile-RSK__title {
        @include font (400, calc((100vw + 45px)/85))
    }

    .profile-RSK__kkal {
        @include font (500, calc((100vw + 216px) / 85))
    }

    .profile-RSK__macro {
        @include font (700, calc((100vw - 210px) / 85))
    }

    .profile-RSK__weight {
        @include font (400, calc((100vw - 416px) / 75))
    }

    .profile-RSK__form-attribute,
    .profile-paternity {
        @include font (300, calc((100vw - 40px) / 94))
    }

    .profile-RSK__form-input,
    .profile-welcome__form-input {
        @include font (300, calc((100vw + 70px) / 110));
    }

    .profile-RSK__form-button,
    .profile-welcome__form-button,
    .profile-welcome__button-reg {
        @include font (600, calc((100vw - 211px) / 85));
    }

    .profile-welcome {
        width: 26vw;
        margin-right: 4vw;
    }

    .profile-welcome__form img {
        top: -17.22%;
    }

    .profile-welcome__form-greet {
        @include font (600, calc((100vw - 290px) / 62));
    }

    .profile-notification__text {
        @include font (500, calc((100vw + 12580px) / 580));
    }
}

.font-black {
    color: $text-color;
}

.font-orange {
    color: $figure-color;
}

.font-blue {
    color: $main-color;
}

.font-figure {
    font-family: $figure-font;
}

.wrapper {
    margin: auto;
    height: auto;
    background-color: $basic-color;
}
// .profile-welcome__wripper,
// .profile-paternity {
//     display: none;
// }


@media screen and (max-width: ($desktop - 1px)) {
    .wrapper {
        display: none;
    }
}

@media screen and (min-width: $desktop) and (max-width: $large-desktop) {
    .wrapper {
        max-width: 1440px;
    }
}

@media screen and (min-width: ($large-desktop + 1px)) {
    .wrapper {
        width: 75vw;
    }

}

// Inna
// wrapper