@import "../layouts/variables.scss";

.diary__form {

  &__search-1,
  &__search-2,
  &__search-3,
  &__search-4 {
    max-width: 1101px;
    height: 35px;
    border-radius: 35px;
    @include font (400, 20px);
  }
}

#diary-search-1,
#diary-search-2,
#diary-search-3,
#diary-search-4 {
  width: 100%;
  height: 50px;
  border-radius: 35px;
  background: url(/assets/images/diary/diary-search.png) no-repeat 3px 3px;
  background-color: rgb(246, 199, 142);
  border: 0cm;
  padding-left: 6%;


}

.elem {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 70px;
  padding-left: 30px;
  padding-right: 10px;
  justify-content: space-between;
  background-color: white;
  position: sticky;
}

.search-result {
  width: 60%;

}

.inputStyle {
  background-color: white;
  border: 1px solid rgb(10, 155, 171);
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-left: 25%;
  text-align: center;
}


// loader
#diary-loader{
  position: fixed;
  z-index: 11;
  top: 0;

  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.658);
}

.lds-roller {
  display: inline-block;
  position: relative;
  left: 50%;
  top: 40%;
  width: 60px;
  height: 60px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: $main-color;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

//loader 


@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.delete-column,
.delete-column2,
.delete-column3,
.delete-column4 {
  border: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 0px;
  background-color: white;

}