@import "./variables.scss";
@import './fonts.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.side-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;

    height: 100vh;

    background-color: $main-color;
    border-radius: 0px 60px 60px 0px;

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        width: 60%;
        height: 61.7%;

        cursor: pointer;

        li {
            width: 100%;

            list-style-type: none;
        }
    }
}

.side-bar__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    text-decoration: none;
    color: white;

    :hover {
        transition-duration: 0.6s;
        margin-left: 20%;
    }

    img {
        width: 67%;
        margin-bottom: 13px;

        transition-duration: 0.6s;
    }
}

@media screen and (min-width: $desktop) and (max-width: ($default-desktop - 1px)) {
    .side-bar {
        width: 11.18vw;
    }

    .side-bar__link {
        @include font (700, 14px);
    }
}

@media screen and (min-width: $default-desktop) and (max-width: $large-desktop) {
    .side-bar {
        width: 161px;
    }

    .side-bar__link {
        @include font (700, 14px);
    }
}

@media screen and (min-width: ($large-desktop + 1px)) {
    .side-bar {
        width: 8.39vw;
    }

    .side-bar__link {
        @include font (700, calc((100vw - 666px) / 89));
    }
}